aiodns==3.0.0
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
asgiref==3.4.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.5.7
backcall==0.2.0
backports.zoneinfo==0.2.1
backtrader==1.9.76.123
bcrypt==3.2.0
beautifulsoup4==4.11.1
black==21.7b0
blinker==1.4
bs4==0.0.1
ccxt==1.81.77
certifi==2021.10.8
cffi==1.14.5
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.1
colorama==0.4.4
comm==0.1.3
croniter==1.3.4
cryptography==37.0.2
cycler==0.11.0
dateparser==1.1.8
debugpy==1.6.7
decorator==5.1.1
dill==0.3.6
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2.5
django-cors-headers==3.8.0
django-filter==2.4.0
django-subdomains==2.1.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
docopt==0.6.2
executing==1.2.0
fastquant==0.1.8.0
filelock==3.0.12
flake8==3.9.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
fonttools==4.33.3
frozenlist==1.3.0
gunicorn==20.0.4
identify==2.5.0
idna==2.10
imageio==2.29.0
importlib-metadata==6.6.0
ipykernel==6.23.1
ipython==8.12.2
ipywidgets==8.0.6
isort==5.9.2
itsdangerous==1.1.0
jedi==0.18.2
Jinja2==2.11.2
joblib==1.2.0
jupyter-client==8.2.0
jupyter-core==5.3.0
jupyterlab-widgets==3.0.7
kiwisolver==1.4.2
llvmlite==0.39.1
lxml==4.8.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mccabe==0.6.1
mplfinance==0.12.8b9
multidict==6.0.2
multitasking==0.0.10
mypy-extensions==0.4.3
mysql-connector==2.2.9
nest-asyncio==1.5.6
networkx==2.8
nltk==3.7
nodeenv==1.6.0
numba==0.56.4
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
pandas==1.1.5
pandas-ta==0.3.14b0
parso==0.8.3
pathspec==0.8.1
pickleshare==0.7.5
Pillow==8.3.2
pipreqs==0.4.11
platformdirs==2.5.2
plotly==5.7.0
pre-commit==2.19.0
prompt-toolkit==3.0.38
psutil==5.9.5
psycopg2==2.8.6
pure-eval==0.2.2
pycares==4.1.2
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.15.1
pyparsing==3.0.8
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.1
pywin32==306
PyYAML==6.0
pyzmq==25.0.2
regex==2021.7.6
requests==2.24.0
requests-oauthlib==1.3.1
schedule==1.2.0
scikit-learn==1.2.2
scipy==1.8.0
six==1.15.0
soupsieve==2.3.2.post1
SQLAlchemy==1.3.19
sqlparse==0.4.2
stack-data==0.6.2
tenacity==8.0.1
threadpoolctl==3.1.0
toml==0.10.2
tomli==1.0.4
tornado==6.3.2
tqdm==4.64.0
traitlets==5.9.0
tweepy==4.9.0
typing-extensions==4.2.0
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.25.11
vectorbt==0.25.3
virtualenv==20.0.31
wcwidth==0.2.6
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==4.0.7
WTForms==2.3.1
yarg==0.1.9
yarl==1.7.2
yfinance==0.1.70
zipp==3.15.0
