{%extends 'user/base-temp.html'%}

{%block content%}
<div class="row">
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-6 col-sm-7 col-lg-5 col-xl-4 col-12 mx-auto my-auto">
                <h2>Reset Password</h2>
                <form class="mt-4" method="post" action="{{url_for('user.request_password_reset')}}">
                    {{form.hidden_tag()}}
                    <div class="form-group my-2">
                        {{form.email(class="form-control", placeholder="Email Address")}}
                    </div>
                    {{form.submit(class="btn btn-primary mt-2")}}
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock content%}