{%extends 'user/base-temp.html'%}

{%block content%}
<div class="row section-75">
    <div class="col-md-11">
        <div class="row h-100">
            <div class="col-md-6 col-sm-7 col-lg-5 col-xl-4 col-9 mx-auto my-auto">
                <div class="d-flex flex-column">
                    <h5 class="text-center">Reset Password</h5>
                   <form method="post" action="{{url_for('user.reset_password', token=token)}}">
                        {{form.hidden_tag()}}
                       <div class="form-group my-2">
                        {{form.password(class="form-control", placeholder="Password")}}                         
                       </div>
                       <div class="form-group my-2">
                            {{form.confirm_password(class="form-control", placeholder="Confirm Password")}}
                         </div>
                         {{form.submit(class="btn btn-primary mt-2")}}
                     </form>                              
                </div>                        
            </div>
        </div>
    </div>
</div>
{%endblock content%}